<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Размещение рекламы</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body text-center">
        <div class="mb-4">
            <i class="bi bi-megaphone fs-1 text-primary"></i>
        </div>
        <h5 class="mb-3">Заинтересованы в размещении рекламы?</h5>
        <p class="mb-4">Для размещения рекламы свяжитесь с администратором!</p>
    </div>
    <div class="modal-footer justify-content-center">
        <a href="https://t.me/{{ admin_telegram|cut:'@' }}" class="btn btn-primary" target="_blank">
            <i class="bi bi-telegram me-2"></i>Написать администратору
        </a>
    </div>
</div>
