
    <div class="mb-3">
        <form id="search-form" class="search-form">
            <div class="input-group">
                <span class="input-group-text bg-white border-end-0 search-icon">
                    <i class="bi bi-search search-icon-text"></i>
                </span>
                <input type="text" name="q" id="search-input" class="form-control border-start-0 shadow-none search-input" 
                    placeholder="Поиск..." value="{{ query }}">
                <button class="btn btn-primary d-none" type="submit">Найти</button>
            </div>
        </form>
    </div>