<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Удаление объявления</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body text-center">
        <div class="delete-icon mx-auto mb-4">
            <i class="bi bi-exclamation-triangle-fill text-danger fs-1"></i>
        </div>
        
        <h5 class="mb-3">Вы уверены, что хотите удалить объявление?</h5>
        <p class="mb-4 text-muted">{{ product.title }}</p>
    </div>
    <div class="modal-footer justify-content-center">
        <form method="post" hx-post="{{ request.path }}" hx-swap="none" hx-on::after-request="setTimeout(() => window.location.reload(), 300)">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger px-4">Удалить</button>
        </form>
        <button type="button" class="btn btn-outline-secondary px-4" data-bs-dismiss="modal">Отмена</button>
    </div>
</div>
